.success {
    margin-top: 78px;
    text-align: center;
}

.au-sr-cu {
    margin-top: 80px;
}

.au {
    text-decoration: none;
    color: black;
}
.sr {
    text-decoration: none;
    color: black;
}
.cu {
    text-decoration: none;
    color: black;
}