.home {
    margin-top: 78px;
}

.s-o {
    text-align: center;
    margin-top: 90px;
}

.start-order {
    border: 1px solid;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    padding: 30px;
    background-color: green;
}
